.main{
    text-align: center;
    display:block;
    
}
.w{
    font-size: 80px;
    text-align: center;
    border: 1px solid;
    height: auto;
    width:50%;
    position: relative;
    left: 25%;
    overflow: hidden;
}
.w span{
    margin-left: 150px;
    margin-right: 150px;
}
.w1{
    width: 100px;
}